<div class="content">
    <div class="upper">
        <div class="left">
            <b>HELP CENTER</b><br>
            We are here to help you!
        </div>
        <img class="bagimg" src="assets/bagCart.png"/>
        <div class="right">
            <b>TRACK,CANCELRETURN/EXCHANGE</b>
            <button class="orders">ORDERS</button><br>
            Manage your purchases  
    </div>
    </div>
    <br>
    <hr>
    <div class="lower">
        <div class="left">
            SELECFT QUERY TYPE<br><br>
            Order Related Queries&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;><br>
            <br>Non-oreder Related Queries&nbsp;&nbsp;&nbsp;&nbsp;><br>
            <br>Recent Issues&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;>
            <br><br><br><hr><br>
            Frequently Asked Questions
        </div>
    </div>
</div>