.content
{
    margin-top:80px;
    border:1px solid black;
    padding:10px;
    height:400px;
}
.card
{
    border: 1px solid grey;
    margin:5px;
    padding:20px;
    height: 300px;
}
.title
{
    text-align: center;
}
.image
{
    height:250px;
    width:250px;
    padding:10px;
    float: left;
    padding:10px;
}
.details
{
    margin:5px;
}
.addCart
{
    font-size: 16px;
    background-color: #1976d2;
    border-radius: 6px;
    color: white;
}